body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
nav {
    display: grid;
    height: 12vh;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "Logo NavBar SearchAcc";
    margin: 0 auto;
}
#Logo {
    grid-area: Logo;
    width: 300px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
img.logoImage {
    height: auto;
    width: 300px;
}
#NavBar {
    grid-area: NavBar;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.navLinks{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navLinks:hover{
    color: #04724D;
}

#SearchAcc {
    grid-area: SearchAcc;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

#Shelters {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#Food {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#Job {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#Health {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#FAQ {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#MyAccount {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border: 2px solid #04724D;
    background-color: transparent;
    text-align: center;
}

#MyAccount > a {
    line-height: 40px;
    font-size: 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #04724D;
}

#Search {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
}

#Search > button {
    width: 75px;
    height: 32px;
    font-size: 16px;
    border: 2px solid #04724D;
    background-color: #04724D;
    color: white;
}

#SearchInput {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
}

#SearchInput > input {
    padding: 0;
    padding-left: 5px;
    margin: 0;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #D5D8DE;
    background-color: #F2F4F8;
}
.tabbed {
  width: 700px;
  margin: 50px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #4EC6DE;
}

.tabs {
  clear: both;
  perspective: 600px;
}

.tabs > div {
  width: 700px;
  position: absolute;
  border: 2px solid #4EC6DE;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed { width: 400px }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}
