body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
nav {
    display: grid;
    height: 12vh;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "Logo NavBar SearchAcc";
    margin: 0 auto;
}
#Logo {
    grid-area: Logo;
    width: 300px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
img.logoImage {
    height: auto;
    width: 300px;
}
#NavBar {
    grid-area: NavBar;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.navLinks{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navLinks:hover{
    color: #04724D;
}

#SearchAcc {
    grid-area: SearchAcc;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

#Shelters {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#Food {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#Job {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#Health {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#FAQ {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#MyAccount {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border: 2px solid #04724D;
    background-color: transparent;
    text-align: center;
}

#MyAccount > a {
    line-height: 40px;
    font-size: 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #04724D;
}

#Search {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
}

#Search > button {
    width: 75px;
    height: 32px;
    font-size: 16px;
    border: 2px solid #04724D;
    background-color: #04724D;
    color: white;
}

#SearchInput {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-right: 10px;
}

#SearchInput > input {
    padding: 0;
    padding-left: 5px;
    margin: 0;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #D5D8DE;
    background-color: #F2F4F8;
}
.wrapper { 
width: 90%; 
margin:auto;
border: 2px solid #04724D;
}
ul.tabs { 
margin:0; 
padding:0; 
float:left; 
}
ul.tabs li { 
float:left; 
display:inline;
margin-right:1px; 
cursor:pointer; 
font-weight:bold;  
}
ul.tabs li a { 
width:195px; 
line-height:30px; 
background:#09F; 
text-align:center; 
float:left; 
text-decoration:none; 
color:#fff; 
}
ul.tabs li a:hover, ul.tabs li a.active { 
background:#fff; 
color:#09f; 
}
.tab_content_container { 
width:940px;
height:200px; 
float:left; 
background:#fff; 
padding:20px; 
margin-top:1px; 
font-size:14px; 
border-radius:0 0 10px 10px;
-moz-border-radius:0 0 10px 10px;
-webkit-border-radius:0 0 10px 10px; 
display:block;
}
.tab_content { 
display:none; 
position:absolute; 
width:940px; 
height:200px; 
overflow:auto; 
overflow-x:hidden;
}
.tab_content_active { 
display:block; 
position:absolute; 
width:940px; 
height:200px; 
overflow:auto; 
overflow-x:hidden;
}
.tab_content_active span { 
float:left; 
width:100px; 
margin-right:20px; 
}
/*----------------Footer----------------*/

/*changes background of footer*/
footer {
    background-color: #666; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center;
}

/*centers footer*/
.footer-content {
    max-width: 500px; 
    margin: 0 auto; 
}
