body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#Top {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas:
        "Title"
        "DropZipSearch"
        "Map";
    margin: 0 auto;
}

#Title {
/*    background-color: pink;*/
    grid-area: Title;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#DropZipSearch {
/*    background-color: yellow;*/
    grid-area: DropZipSearch;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "zipCodeInput searchButton";
    padding: 25px;
    place-items: center;
    margin: 0 auto;
}

#zipCodeInput {
    grid-area: zipCodeInput;
    width: 250px;
    height: 50px;
}

#userZipInput {
    font-size: 16px;
    width: 250px;
    height: 50px;
    border: 0;
    background-color: #F2F4F8;
    text-align: center;
    border: 1px solid #DDE1E6;
}

input#userZipInput {
    padding: 0;
    height: 50px;
}

#map {
/*    background-color: green;*/
    grid-area: Map;
    text-align: center;
    vertical-align: middle;
    width: 700px;
    height: 500px;
    margin: 0 auto;
}

#searchButton {
    grid-area: searchButton;
    width: 150px;
    height: 50px;
    place-items: center;
}

button#searchH {
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #04724D;
    color: white;
    text-align: center;
    padding: 0;
    border: 1px solid #04724D;
}

button#search:hover {
    background-color: #005236;
}

#jrTitle {
    font-weight: bold;
}

#moreResults {
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: 2px solid #04724D;
    background-color: #04724D;
    color: white;
    text-align: center;
    padding: 0;
}

button#moreResults:hover {
    background-color: #005236;
}

#moreButton {
    margin-bottom: 40px;
    text-align: center;
    display: none;
}

#moreButton:click .jResources{
    display: block;
}

#fourSearches {
    display: none;
}

#moreSearch {
    margin-top: 20px;
    display: none;
}


#places {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0px;
}

li {
    min-height: 200px;
    height: auto;
    width: 300px;
    background-color: white;
    list-style-type: none;
    border: 1px solid #dde1e6;
    margin: auto;
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

li h3 {
    padding: 5px;
    height: 10%;
    text-align: center;
    font-weight: 600;
    margin: auto;
    margin-top: 5px;
}

li p {
    padding: 5px;
    height: 10%;
    text-align: left;
    font-weight: none;
    margin: auto;
    margin-top: 5px;
}

li a {
    padding: 5px;
    height: 10%;
    text-align: center;
    font-weight: 600;
    margin: auto;
    margin-top: 5px;
    color:#04724D;
}
